body {
    font-family: 'Ubuntu', sans-serif !important
}

*{
    outline:none !important;
}

.row {
    margin:0 !important;
}
.header-nav{
    background-color:#212121;
    display:flex;
    position:fixed;
    line-height:normal;
    width:100%;
    z-index:10;

}
.header-nav .header-nav-comp {
    max-height:45px;
}
.offers {
    width:25%;
    display:flex;
}
.offers a {
    background-color: #84c639;
    text-decoration:none;
    color:white;
    padding:0.5em 2.5em;
    font-size: 1.2em;
}

.offers a:hover {
    text-decoration:none;
    cursor:pointer;
    color:white;
}

.search {

    width:45%;
    padding-left:10%;
}
.search input,button {
    padding:10px;
    border:1px solid black;
    border-radius:1px;
}

.search input {
    width:75%;
    font-size:0.9em;
}

.search button {
    width:12%;
    background-color:
    #fa1818;
    color:white;
    
}
.cart-nav {
    text-align:center;
}

.show-cart {
    background-color:transparent;
    color:White;
    border:2px solid #659332;
    border-radius:2px;
    padding:0.5em 1em 0.5em 1em;
    font-size:0.9em;
    margin-top:3px;
    cursor:pointer;
}

.contact-nav {
    position:absolute;
    display:flex;
    right:0;
    bottom:0;
   
    text-align:center;
}

#contactlink{
    background-color:red;
    color:white;
    padding: 0.5em 1.3em;
    font-size:1.4em;
    text-decoration:none;
}

#dropdownMenuButton{
    background-color:transparent;
    border:none;

}

.dropdownCustom {
    display:block;
    margin-top:0; 
    right:0 !important;
    left:auto !important;
    background:#fff;
}




.store-intro {
    padding:4em 0em 1em 0em !important;
    position:relative;
    z-index:1;
    font-size:0.9em;
}
.store-features {
    margin-top:2em;
    text-align:center;
    padding:0;
}
.features-list {
    padding:0;
}
.features-list li {
    display:inline-block;
    text-decoration:none;
}

.features-list li i {
    margin: 0 1em;
}

.store-contact{
    margin-top:2em;
    text-align:center;
    padding:0;
}

.phone_email {
    padding:0;
}

.phone_email li {
    display:inline-block;
    text-decoration:none;
    margin-right:1.3em;
}

.store-intro a {
    color:black;
    transition:all 0.7s;
}

.store-intro a:hover {
    text-decoration:none;
    color:red;
}

footer {
    background-color:#212121;
}

.footer-content h3{
    color:white;
    font-size:1.2em;
    text-transform: uppercase;
    margin-bottom:1.5em;
}
.footer-content {
    padding:2em 0;
}

.twit {
    margin:1.5em 0;
}

.footer-list {
    margin:1.5em 0;
}
.footer-list ul {
    list-style-type:none;
    padding-left:0;
}

.footer-list ul li {
    position:relative;
}

.footer-list ul li i{
    color:white;
    font-size:1.4em;
    padding:0.4em 0.5em 0.4em 0;
    margin-top:0.1em;
}


.footer-list ul li a{
    position:absolute;
    top:0.9em;
    left:2em;
    font-size:0.9em;
    color:#999;
    text-decoration:none;
    text-transform:capitalize;
    cursor:pointer;
    transition:color 0.7s;
}

.footer-list ul li a:hover {
    text-decoration:none;
    color:white;
}
.newsletter {
    background-color: red;
    padding:3em 0;
   
}

.newsletter .row div {
    max-height:45px;
}

.newsletter-header {
    text-align:right;
    color:#fff;
    padding:0.5em 0;
}

.newsletter-mail input[type="email"]{
    width:72%;
    outline: none;
    padding: 10px;
    background: none;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    color: #fff;
}

.newsletter-mail input[type="submit"]{
    outline: none;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    color: #FA1818;
    width: 26%;
    text-transform: uppercase;
    transition:color 0.7s;
    border:none;
    cursor:pointer;
}

.newsletter-mail input[type="submit"]:hover {
    background:#60aa34;
    color:white;
}


.twit ul {
    list-style-type:none;
    padding-left:0;
}
.twit ul li {
    margin-bottom:1.5em;
} 

.twit span{
    color:#999;
    font-size:0.9em;
    display:block;
    margin-left:2em;
    overflow:hidden;
}
.twit i {
    color: #60aa34;
    font-size:0.9em;
}
.twit label {
    color:#fa1a1b;
    padding-right:1em;
}

.twit span a {
    color:White;   
    cursor:pointer;
    transition: all 0.7s;
}

.twit span a:hover {
    text-decoration:none;
    color:#999;
}

.partners div {
    margin-bottom:2em;
    padding-top:1.5em;
}
.payments-area h4 {
    font-size:1em;
    color:#60aa34;
    text-transform:capitalize ;
}
.payments-area img {
    max-width:100%;
}
.social-area h5 {
    font-size:1em;
    color:white;
    text-transform: capitalize;
}

.social-area ul {
    list-style-type:none;
    padding-left:0;
}

.social-area ul li {
    display:inline-block;
}
.social-area ul li a {
    color:white;
    font-size:15px;
    border:3px solid white;
    border-radius:20px;
    display:block;
    width:40px;
    height:40px;
    text-align:center;
    padding-top:10px;
    transition:all 0.7s;
    cursor:pointer;
}
.social-area ul li a:hover {
    text-decoration:none;
    border-color:var(--transColor);
    background-color:var(--transColor);
}

.facebook {
    --transColor:#337ab7;
}
.twitter {
    --transColor:#1DA1F2;
}
.google {
    --transColor:#d34836;
}
.instagram {
    --transColor:#8a3ab9;
}
.dribbble{
    --transColor: #ea4c89;
}




.footer_copy {
    border-top:1px solid #3a3a3a;
    padding-top:3em;
    font-size:0.9em;
    margin-top:1em;
    text-align:center;
    color:#999;
}

.footer_copy a {
    color:white;
    cursor:pointer;
    transition:color 0.7s;
}

.footer_copy a:hover {
    text-decoration:none;
    color: red;
}

.banner {
    width:100%;
    margin-left:0 !important;
}
.banner-nav .navbar {
    padding:0;
    border-top:1px solid black;
}
.banner > div {
    padding:0;
}
.navbar-nav {
    flex-direction:column !important;
}

#bannerNavList {
    width:100%;
}
#bannerNavList li {
    background-color:#f8f9fa;
    color:black;
    border-bottom:0.2px dotted black;
    position:relative;
}

#bannerNavList li a {
    font-size:0.9em;
    color:black;
    padding-left:2em;
    cursor:pointer;
}

#bannerNavList li a:hover {
    text-decoration: none;
    color:white;
    background-color:#84c639;
}

.dropdownItemCustom {
    display:block;
    margin-top:0 !important; 
    left:2em !important;
    background:#fff;
}


.carousel-item img{
    min-height:13em;
}

.carousel-caption {
    text-transform:uppercase;
    margin:0 auto !important;
    bottom:5em !important;
    left:auto !important;
}
.carousel-caption a{
    font-size:1em;
    background-color:#84c639;
    padding:0.5em 3em;
    color:White;
    cursor:pointer;
    position:relative;
    transition:all 0.3s;
}

.carousel-caption a::after {
    font-size:1em;
    position:absolute;
    content:"shop now";
    text-transform:uppercase;
    top:1em;
    left:3em;
    color:white;
    opacity:0;
    transition:all 0.3s;
}

.carousel-caption a:hover {
    text-decoration:none;
    background-color:red;
    color:black;
    text-shadow:0 0.1em grey;
}

.carousel-caption a:hover:after {
    opacity:1;
    top:0.35em;
 
}

.carousel-indicators li {
    cursor:pointer;
}

.banner-bottom {
    padding: 4em 0;
}
.bbanner-content img {
    width:100%;
    height:auto;
}

.bbanner-content {
    overflow:hidden;
    margin:1.5em 0;
}
.offer-intro {
    position:absolute;
    top:2em;
    right:2em;
    max-height:fit-content;
}
.offer-intro h4 {
    font-weight:bold;
}
.offer-intro span {
    display:block;
    margin:0 auto;
    width:3em;
    height:3em;
    background-color:red;
    border-radius:10em;
    padding:0.8em 0.5em;
    color:White;
    font-weight:Bold; 
}

.promote-intro {
    position:absolute;
    top:1em;
    left:2em;
    width:80%;
    text-transform:capitalize;
}

.promote-intro span {
    display:block;
    color:#84c639;
    padding-left:2em;
}

.promote-intro i {
    font-style:normal;
    color:red;
    text-transform:uppercase;
}

.discount-intro {
    position:absolute;
    bottom:2em;
    left:3em;
    text-transform:uppercase;
    font-size:1.2em !important;
}

.discount-intro span {
    display:block;
    color:red;
}
.hot-offer {
    padding:3em 0;
    background-color:#f5f5f5;
}
.main-content h1 {
    text-align:center;
    position:relative;
    padding:0.5em 0;
}

.main-content h1:after {
    content: '';
    background: #FA1818;
    height: 2px;
    width: 8%;
    position: absolute;
    bottom: 0%;
    left: 46%;
}

.main-content {
    padding: 0 !important;
}
.prod-card {
    padding: 1em 1em !important;
}
.prod-container {
    border:0.5px solid #d0d0d0;
    padding:0.5em;
    background-color:white;
    position:relative;
}

.prod-container .offer-icon{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

.prod-container .no-stock-img {
    position:absolute;
    top:5.5em;
    right:0;
    width:100%;
    height:auto;
    display:none;
    z-index:2;
}

.no-stock {
    opacity:0.5;
}

.prod-info {
    border:0.2px solid #d0d0d0;
    padding:0.5em;
    margin-bottom:0;
    position:relative;
    overflow: hidden !important;
}

.prod-info:after {
    content: "";
    position: absolute;
    top: -130%;
    left: -210%;
    width: 200%;
    height: 300%;
    opacity: 0;
    transform: skew(-40deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}

.prod-info:hover:after {
    opacity: 1;
    /* top: 0%; */
    left: 200%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

.prod-info:hover .prod-add-btn {
    background-color:#84c639;

}
.prod-info .prod-img {
    margin:0 10%;
    padding:5px 5px;
    width:80%;
    height:Auto;
    cursor:pointer;
}

.prod-info .prod-name {
    font-family:Arial, Helvetica, sans-serif;
    margin:1.5em 0 1em;
}

.prod-info h5 {
    font-size:1.1em;
    font-weight:bold;
}

.prod-info .dsc-price {
    font-weight:normal;
    padding-left:1em;
    text-decoration: line-through;
}

.prod-add-btn {
    background-color:red;
    color:white;
    display:block;
    margin:1em 10%;
    width:80%;
    border:none;
    padding:0.5em 1em;
    font-size:0.9em;
    transition:all 0.7s;
    cursor:pointer;
    z-index:1500;
}

.bottom-content {
    background-color:#f5f5f5;
    padding: 0.5em 1em;
    margin:3em 10% !important;
}

.bottom-promote {
    padding:0 !important;
}
.bottom-promote div {
    padding:0 !important;
}
.bottom-promote img {
    width: 100%;
    height:Auto;
    padding:0.6em 0em 0.6em 0.8em;
}

.cat-list {
    background-color: #fff;
    text-transform:uppercase;
    margin:0.6em 0;
}

.cat-list ul {
    list-style-type:none;
    padding-left:0;
}

.cat-list ul li {
    line-height:3em;
    max-height:fit-content;
    overflow:hidden;
    font-size:0.9em;
}
.cat-list ul a{
    color:black;
    padding-left:1em;
    cursor:pointer;
    transition: color 0.8s ease-in-out;
}

.cat-list ul a:hover {
    color: #84c639;
    text-decoration:none;
}
.cat-list ul i {
    color:#84c639;
}

.pr-btm-line {
    background:url("../images/img-sp.png") no-repeat 0px 0px;
    background-position: right;
    text-align:right;
}

.pr-btm-line p {
    margin-top:20px;
    margin-right:60px;
    font-size:1.3em;
}

.pr-btm-line span {
    color:red;
    animation:blinker 2s linear infinite;
    -webkit-animation: blinker 2s linear infinite;
    -moz-animation: blinker 2s linear;
}

.img-wrap {
    position:relative;
}

.img-wrap a {
    font-size:1em;
    background-color:#84c639;
    padding:0.5em 2em;
    color:White;
    cursor:pointer;
    position:relative;
    transition:all 0.3s;
    text-transform:uppercase;
    position:absolute;
    top:2em;
    right:2em;
}

.img-wrap a::after {
    font-size:1em;
    position:absolute;
    content:"shop now";
    text-transform:uppercase;
    top:2.5em;
    right:2em;
    color:white;
    opacity:0;
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    transition:all 0.3s;
    pointer-events: none;
}

.img-wrap a:hover {
    text-decoration:none;
    background-color:red;
    color:black;
    text-shadow:0 0.1em grey;
}

.img-wrap a:hover:after {
    opacity:1;
    top:0.5em;
    transform: rotate(0deg);
}

.img-wrap span {
    display:block;
    height:5em;
    width:5em;
    background-color:red;
    border-radius:10em;
    padding:1em 0.8em;
    font-size:1.2em;
    font-weight:Bold;
    color:white;
    position:absolute;
    bottom:1em;
    left:1em;
}

#toTop {
    position:fixed;
    bottom:1em;
    right:1em;
    background-color:transparent;
    background:url("../images/arrow.png") no-repeat 0 0;
    background-position: center;
    width:32px;
    height:32px;
    cursor:pointer;
    display:block;
    border:none;
}


.modal-dialog {
    max-width:700px !important;
}

#cartWrapper .modal-header {
    border:none;
    padding:0.6em;
}

.my-cart {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin:1em 7%;
    padding:1em;
}
.cart-item {
    font-size:0.9em;
    display:flex;
    line-height:13px;
    border-bottom:0.5px solid #E6E6E6;
    padding-top:0.5em;
}

.cart-item:last-of-type {
    border-bottom: none;
  }
.cart-item .title-n-discount {
    width:60%;
}
.cart-item .cart-item-detail {
    width:40%;
    display:flex;
    margin-top:0.3em;
}

.cart-item-detail input {
    width:34px;
    height:20px;
    text-align:Right;
    margin-right:2em;
    border-radius:4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding:0.1em 0.2em;
}

.cart-item-detail .cart-item-remover {
    background-color:red;
    border:none;
    border-radius:2px;
    height:2em;
    width:2em;
    padding:0.2em 0.5em;
    color:white;
    font-size:0.7em;
    margin:0 1em;
    cursor:pointer;
}

.cart-item .cart-item-discount {
    color:#999;
}
.cart-item-price-container {
    flex-grow:1;
    text-align:right;

}

.cart-sum {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.1em;
    margin:0 7%;
}

.cart-sum p {
    font-weight:Bold;
    float:left;
}

.cart-sum .checkout-btn {
    background-color:#84c639;
    border:none;
    cursor:pointer;
    padding:0.2em 1.5em;
    float:right;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media (max-width:1200px) {
    .contact-nav {
        width:100%;
        position:static;
        align-content:flex-end;
        flex-flow: column wrap;
        max-height:fit-content !important;
    }
    .header-nav{
        position:relative;
    }
}
@media (max-width: 1024px){
    .offers {
        width:100%;
    }
    .search {
        width:65%;
    }


}

@media (max-width: 800px){
    .newsletter-header {
        text-align:center !important;
    }
    .banner-nav {
        text-align:center;
    }
    .banner-nav .navbar-toggler{
        margin:0 auto;
    }
    .dropdownItemCustom {
        text-align:Center !important;
    }
}



@media (max-width:992px){
    .bottom-promote img {
        padding:1em;
    }

    .bottom-content{
        background-color:#fff;
    }
    
    .cat-list {
        border:0.8em solid #f5f5f5;
        margin:1em 15%;
    }
    .bottom-promote .img-wrap {
        border:0.8em solid #f5f5f5;
        margin:1em 15%;
    }
}

@media (max-width:600px) {
    .prod-card {
        padding:1em 15% !important;
    }
}

@media (max-width: 500px){
    .offers {
        width:100%;
        text-align:center;
    }
    .offers a {
        width:100%;
    }
    .search {
        width:100%;
        padding-left:0;
        text-align:center;
    }
    .cart-nav {
        width:100%;
        text-align: center;
    }

    .contact-nav div {
        width:100%;
    }
    .store-logo {
        text-align:center;
    }
    .store-logo img {
        max-width:100%;
    }
    .newsletter .row div {
        max-height: fit-content !important;
    }
    .newsletter-mail input{
        display:block;
        width:100% !important;
    }


    .cat-list {
        margin:1em 5%;
    }
    .bottom-promote .img-wrap {
        margin:1em 5%;
    }

    .bottom-content {
        margin:3em 0 !important;
    }

    .cart-item {
        display:block;
    }

    .cart-item-detail {
        width:100%;
    }
    .cart-item-detail input {
        margin:0 0.2em;
    }
}