<div class="newsletter">
    <div class="container">
        <div class="row">
        <div class="newsletter-header col-lg-4 col-md-4 col-sm-12">
            <h5>Sign Up For Our Newsletter</h5>
        </div>
        <div class="newsletter-mail col-lg-7 col-md-8 col-sm-12">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="subscribe now">
            </form>
        </div>
        </div>
    </div>
</div>
<div class="footer-content container">
    <div class="footer-info row">
        <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
            <h3>information</h3>
            <ul class="w3_footer_grid_list">
                <li><i class='fa fa-angle-right'></i><a href="#">Events</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">About Us</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Best Deals</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Services</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Short Codes</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
            <h3>Policy Info</h3>
            <ul class="w3_footer_grid_list">
                <li><i class='fa fa-angle-right'></i><a href="#">FAQ</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Privacy Policy</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Terms of Use</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
            <h3>What in stores</h3>
            <ul class="w3_footer_grid_list">
                <li><i class='fa fa-angle-right'></i><a href="#">Pet Food</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Frozen Snacks</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Kitchen</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Branded Foods</a></li>
                <li><i class='fa fa-angle-right'></i><a href="#">Households</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 twit">
            <h3>twitter posts</h3>
            <ul class="w3_footer_grid_list1">
                <li><label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>Non numquam <a href="#">http://sd.ds/13jklf#</a>
                    eius modi tempora incidunt ut labore et
                    <a href="#">http://sd.ds/1389kjklf#</a>quo nulla.</span></li>
                <li><label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>Con numquam <a href="#">http://fd.uf/56hfg#</a>
                    eius modi tempora incidunt ut labore et
                    <a href="#">http://fd.uf/56hfg#</a>quo nulla.</span></li>
            </ul>
        </div>
    </div>
    <div class="partners row">
            <div class="col-md-3 col-sm-6 col-xs-12 payments-area">

                    <h4>100% secure payments</h4>
                    <img src="images/card.png" alt=" " class="img-responsive">
               
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12 social-area">

                    <h5>connect with us</h5>
                    <ul class="socialList">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
  
            </div>
 
    </div>
    <div class="footer_copy">
        <p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>