<div>
    <div class="header-nav row">
        <div class="offers">
            <a href="#">Today's special Offers!</a>
        </div>
            
        <div class="search">
            <form action="#" method="POST">
                <input type="text" value="Search a product..." onfocus="this.value=''">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>


        <div class="cart-nav">
            <button class="show-cart">View Your Cart <i class="fa fa-shopping-cart"></i></button>
        </div>
        <div class="contact-nav">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Login</a>
                  <a class="dropdown-item" href="#">Sign Up</a>
                </div>
              </div>
            <a id="contactlink" href="#">Contact Us</a>
        </div>
    </div>
    <div class="store-intro container">
        <div class="store-logo"></div>
        <div class="store-features"></div>
        <div class="store-contact"></div>
        <div class="clearfix"></div>
    </div>
</div>