
    <div class="header-nav row">
        <div class="offers">
            <a href="#">Today's special Offers !</a>
        </div>
            
        <div class="search header-nav-comp">
            <form action="#" method="POST">
                <input type="text" value="Search a product..." onfocus="this.value=''">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>


        <div class="cart-nav header-nav-comp">
            <button class="show-cart">View Your Cart <i class="fa fa-shopping-cart"></i></button>
        </div>
        <div class="contact-nav header-nav-comp">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Login</a>
                  <a class="dropdown-item" href="#">Sign Up</a>
                </div>
              </div>
            <a id="contactlink" href="#">Contact Us</a>
        </div>
    </div>
    <div class="store-intro container">
        <div class="row">
        <div class="store-logo col-lg-3 col-md-3 col-sm-12">
            <img src="images/logo.png" height="100px" width="auto"/>
        </div>
        <div class="store-features col-lg-4 col-md-9 col-sm-12">
            <ul class="features-list">
                <li><a href="#">Events</a><i>/</i></li>
                <li><a href="#">About Us</a><i>/</i></li>
                <li><a href="#">Best Deals</a> <i>/</i></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="store-contact col-lg-5 col-md-12 col-sm-12">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+0123) 234 567</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:store@grocery.com">store@grocery.com</a></li>
            </ul>
        </div>
        </div>
    </div>
